NODE_ENV=development
PORT='port-here'
USER='username-here'
PASSWORD='password-here'
DATABASE_PASSWORD='db-password-here'
DB_CONNECTION_STRING='db-online-string-here'
DB_LOCAL_STRING='local-db-string-here'