.place-form {
    position: relative;
    /* list-style: none; */
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
    border: 1px solid blue;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.recurring-container{
    padding: 1rem 0;
    /* display: flex;
    align-items: center; */
}

.recurring-container label {
    font-size: 1rem;
    font-weight: 700;
}

.recurring-container input{
    cursor: pointer;
}

input[type='checkbox'] {
    height: 1.5rem;
    width: 1.5rem;
    accent-color: var(--primary-green);
}

.btn-container{
    display: flex;
    gap: 1rem;
}

.delete-btn{
    width: 100%;
    background: #db0000;
    border-color: #db0000;
    color: white;
    cursor: pointer;
    border-radius: 1.2rem;
}

.delete-btn:hover,
.delete-btn:active{
    background: #f34343;
    border-color: #f34343; 
}

.confirm-delete-btn-container{
    display: flex;
    justify-content: flex-end;
}

.big{
    font-size: 1rem;
    font-weight: 700;
}